.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.brand-title {
  font-size: 3rem;
  color: #d9d9d9;
}

.brand-title span {
  color: #ffde59;
}

.brand-description {
  font-size: 1.4rem;
}

.links {
  display: flex;
}

.links a {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin: 1rem;
}
.search{
  background-color: #f5f5f6;
}

.searchbar {
  display: flex;
  background-color: #f5f5f6;
  padding: 12px;
  gap: 6px;
  width: 350px;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 6px;
}
.searchbar.active {
  background-color: white;
}
.searchbar .searchIcon {
  font-size: 18px;
}
::placeholder {
  font-family: var(--primary-font);
  font-size: 14px;
}

 .searchbar input {
  border: none;
  outline: none;
  background: transparent;
}
